*{
    margin: 0;
    padding: 0;
    font-family: "Hammersmith One";
    box-sizing: border-box;
    text-decoration: none;
    border: 5px black;
    scroll-behavior: smooth;
}

body{
    position: relative;
    min-height: 100vh;
    background: url(./img/skyblue.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px black;
}
.bio{
    font-size: 30px;
}
img{
    width: 200px;
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px black;
    overflow: hidden;
    border: 5px black;
}
.card-header{
    background: -moz-linear-gradient(45deg, rgba(153, 231, 255, 0.6), rgba(182, 248, 250, 0.69) 100%);
    padding: 60px 40px;
    border: 5px black;
}
.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #1de6e6, #006884);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animation-gradient 2s linear-gradient;
    border: 5px black;
}
@keyframes animated-gradient{
    25%{
        background-posotion: left bottom;
    }
    50%{
        background-posotion: right bottom;
    }
    75%{
        background-posotion: right top;
    }
    100%{
        background-posotion: left top;
    }
}
.pic img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name{
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}
.name1{
    font-size: 25px;
}
.desc{
    font-size: 20px;
    color: #6d9191;
}
.sm{
    display: flex;
    justify-content: center;
    margin: 12px 0;
}
.sm a{
    color: white;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}
.sm a:hover{
    color: #6d9191;
}
.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    border: 2px solid #006884;
    border-radius: 6px;
    margin-top: 16px; 
    transition: .3s linear;
}
.contact-btn:hover{
    background: #006884;
    color: white;
}
.card-footer{
    background: #f2f2f2;
    padding: 60px 10px;
    margin-top: 10px;
}
.sector{
    font-size: 28px;
}

.border{
    width: 2px;
    height: 30px;
    background: #f2f2f2;
}
.picture-1{
    margin-top: 15px;
}
.study{
    background: #47bbdb;
    padding: 60px 10px;
    margin-top: 15px;
}
.education{
    font-size: 28px;
}
.school{
    margin-top: 10px;
}
.career{
    background: #f2f2f2;
    padding: 60px 10px;
    margin-top: 10px;
}
.career-1{
    font-size: 28px;
}
.business{
    margin-top: 10px;
}
.import-export{
    margin-top: 20px;
}
.emport-export-pic{
    margin-top: 5px;
}
.social-media{
    background: #47bbdb;
    margin-top: 10px;
    padding: 30px 10px;
    font-size: 28px;
}
.social{
    font-size: 20px;
    text-decoration: black;
}
.copyright {
    background: #111;
    font-size: 16px;
    color: skyblue;
    margin: 2px 2px;
    text-align: center;
    padding: 10px;
}